extends layout

block content
  #header-div
    h1 星球大戰 - Space War 3D
  #main-div
    input#player-name-input(type="text", placeholder="enter your name here")
    #nav-bar-div
      //-button#room 房間列表
      //-button#intro 操作說明
      //-button#about 關於我們

    #message-div Please enter a name!
    img#map-img(src="#", alt="alt")
    #create-new-room-div
      input#create-new-room-input(type="text", placeholder="Create new room here")
      button#choose-map-btn
        i(class='fa fa-map')
      #maps-dropdown
        a(href="#") 極光(３人)
        a(href="#") 火星(3人)
        a(href="#") 太陽(4人)
      button#create-new-room-btn
        i(class="fa fa-plus")
    #rooms-div
      //-
      //- .room-div
      //-   span muan's room
      //-   button.join-room-btn
      //-     i(class="fa fa-sign-in")
      //- .room-div
      //-   span ryan's room
      //-   button.full-room-btn
      //-     i(class="fa fa-users")
  #waiting-div
    p Your room has been created, now waiting for opponent...
    button cancel
